

<form   #deviceForm="ngForm" *ngIf="vm$ | async as vm">
    
      
  
      <div  class="form form-row">
        <div class="form-group  col-md-2">
          <label for="deviceVendor">Device Vendor</label>
          <input
            id="deviceVendor"
            name="deviceVendor"
            class="form-control"
            [(ngModel)]="vm.device.deviceVendor"
            required
          />
        </div>

        <div class="form-group col-md-2">
          <label for="deviceType">Device Type</label>
          <input
            id="deviceType"
            name="deviceType"
            class="form-control"
            [(ngModel)]="vm.device.deviceType"
            required
          />
        </div>

        <div class="form-group col-md-2">
          <label for="deviceType">Friendly Name</label>
          <input
            id="friendlyName"
            name="friendlyName"
            class="form-control"
            [(ngModel)]="vm.device.friendlyName"
            required
          />
        </div>

        <div class="form-group col-md-2">
          <label for="deviceType">Asset Type</label>
          <input
            id="assetType"
            name="assetType"
            class="form-control"
            [(ngModel)]="vm.device.assetType"
            required
          />
        </div>

        <div class="form-group col-md-2">
          <label for="deviceType">Branch</label>
          
          <select class="form-control"
                  (change)="onSelected($event.target.value)">
            <option *ngFor="let branch of vm.branches" [selected]='vm.device.branchId==branch.id'
                    [value]="branch.id">{{ branch.name }}</option>
          </select>
        </div>
        
      </div>
  
      <div >
        <button
          class="btn btn-outline-secondary"
          (click)="onClose()"
          style="width: 80px"
        >
          Close
        </button>
        &nbsp;&nbsp;
        <button
          class="btn btn-primary"
          (click)="onSave()"
          style="width: 80px" 
        >
          Save
        </button>
      </div>
    
  </form>

  
<div class="alert alert-danger"
     *ngIf="errorMessage$ | async as errorMessage">
  {{ errorMessage }}
</div>