<div class="card">
    
    <div class="card-body">
      <div class="table-responsive">
        <table class="table" *ngIf="devices$ | async as devices ">
          <thead>
            <tr>
              <th>Device Vendor</th>
              <th>Device Type</th>
              <th>Friendly Name</th>
              <th>Asset Type</th>
              <th>Branch Id</th>
              <th>Branch Name</th>
              <th>Last Seen</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let device of devices$ | async as devices">
                <td>{{ device.deviceVendor }}</td>
              <td>{{ device.deviceType }}</td>
              <td>{{ device.friendlyName }}</td>
              <td>{{ device.assetType }}</td>
              <td>{{ device.branchId }}</td>
              <td>{{ device.branchName }}</td>
              <td>{{ device.lastSeen | date:'MMM dd, yyyy' }}</td>
              <td>
                <a class="btn btn-primary" [id]="device.id" (click)="displayPopUp($event.target.id)">Edit</a>
              </td>
              
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  
  <div class="alert alert-danger"
     *ngIf="errorMessage$ | async as errorMessage">
  {{ errorMessage }}
</div>